In [6]:
# !pip3 install snscrape
# !pip install git+https://github.com/JustAnotherArchivist/snscrape.git

## Install necessary dependencies

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
from datetime import datetime
import os
import re
# nlp
import nltk
from nltk.corpus import wordnet
from nltk import WordNetLemmatizer
from nltk.corpus import stopwords
# text representation
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
#models
from sklearn.cluster import KMeans
from sklearn.decomposition import LatentDirichletAllocation
# metrics
from sklearn.metrics import silhouette_score
#nltk.download('punkt')
#nltk.download('wordnet')
#nltk.download('averaged_perceptron_tagger')

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas
channel = 'CNN'
start_date='2021-12-13'
end_date='2021-12-14'
# Creating list to append tweet data to
tweets_list2 = []
# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper(f'from:{channel} since:{start_date} until:{end_date}').get_items()):
    if i>50:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [3]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2021-12-13 23:55:10+00:00,1470542846109392898,"Former Brooklyn Center, Minnesota, police offi...",CNN
1,2021-12-13 23:44:12+00:00,1470540084873244672,The Omicron variant of coronavirus is spreadin...,CNN
2,2021-12-13 23:33:05+00:00,1470537290283982857,Hundreds of millions of devices around the wor...,CNN
3,2021-12-13 23:22:50+00:00,1470534710669590529,Defense Secretary Lloyd Austin has decided tha...,CNN
4,2021-12-13 23:12:11+00:00,1470532029209104386,"After all these years, Bing Crosby still spurs...",CNN
5,2021-12-13 22:55:44+00:00,1470527887971336199,The CDC has added three nations to its highest...,CNN
6,2021-12-13 22:35:34+00:00,1470522815514386433,"""That little $3 whistle is what saved us from ...",CNN
7,2021-12-13 22:16:04+00:00,1470517906287042562,Former Minneapolis police officer Derek Chauvi...,CNN
8,2021-12-13 22:01:04+00:00,1470514133099556864,"Victims of Larry Nassar, the former Olympic do...",CNN
9,2021-12-13 21:45:08+00:00,1470510122145300480,"Individual users, not tech platforms, shoulder...",CNN
10,2021-12-13 21:33:28+00:00,1470507184933031950,Astronomers have found evidence of an ancient ...,CNN
11,2021-12-13 21:16:07+00:00,1470502819522301964,The FBI is offering a reward for information r...,CNN
12,2021-12-13 21:01:06+00:00,1470499040072712194,The Occupational Safety and Health Administrat...,CNN
13,2021-12-13 20:46:03+00:00,1470495252284911639,"""The Dr. Oz Show"" will end in its thirteenth s...",CNN
14,2021-12-13 20:30:01+00:00,1470491219998429184,JUST IN: The Supreme Court has turned away two...,CNN
15,2021-12-13 20:15:06+00:00,1470487464921939969,Sen. Joe Manchin indicated that a significant ...,CNN
16,2021-12-13 20:00:28+00:00,1470483783350685699,"Biden's big infrastructure plan, which was pas...",CNN
17,2021-12-13 19:35:18+00:00,1470477448550748169,"An atmospheric river â€” a plume of moisture, si...",CNN
18,2021-12-13 19:16:02+00:00,1470472599440396298,President Biden will travel to Kentucky later ...,CNN
19,2021-12-13 19:00:03+00:00,1470468575853002755,Parents are set to get their last monthly infu...,CNN
20,2021-12-13 18:45:10+00:00,1470464829819432961,"Bond was set at $7 million for Alex Murdaugh, ...",CNN
21,2021-12-13 18:00:10+00:00,1470453505815105542,Two officers were caught in a deadly tornado t...,CNN
22,2021-12-13 17:49:08+00:00,1470450732289736706,CNN Heroes 2021: Be inspired by everyday peopl...,CNN
23,2021-12-13 17:45:08+00:00,1470449725233061890,"In 2013, Anthony Bourdain traveled to Jerusale...",CNN
24,2021-12-13 17:32:04+00:00,1470446434579369992,Some of the world's richest men are squaring o...,CNN
25,2021-12-13 17:30:04+00:00,1470445933339029507,It may seem silly to talk about Princess Diana...,CNN
26,2021-12-13 17:15:11+00:00,1470442187271847936,Kim Kardashian has passed a law exam and moved...,CNN
27,2021-12-13 17:00:18+00:00,1470438439887773702,"Every day, thousands of fishing boats around t...",CNN
28,2021-12-13 16:45:05+00:00,1470434613415882762,Bear cub vs inflatable reindeer: Watch as bear...,CNN
29,2021-12-13 16:30:11+00:00,1470430861023666181,"The Geminid meteor shower, which NASA calls ""o...",CNN
30,2021-12-13 16:15:03+00:00,1470427054239801356,He killed some of Coke's most beloved brands l...,CNN
31,2021-12-13 16:00:14+00:00,1470423325872644100,Some of us are now secretly (or not-so-secretl...,CNN
32,2021-12-13 15:45:04+00:00,1470419506975682562,Kevin Durant scored an NBA season high 51 poin...,CNN
33,2021-12-13 15:30:13+00:00,1470415770027008011,Doja Cat has announced she's dropped out of th...,CNN
34,2021-12-13 15:15:06+00:00,1470411968704131073,"Biden's big infrastructure plan, which was pas...",CNN
35,2021-12-13 15:08:13+00:00,1470410232690003971,See the full list of nominees for the 79th Ann...,CNN
36,2021-12-13 15:00:11+00:00,1470408214965542919,Apple is on the verge of yet another major mil...,CNN
37,2021-12-13 14:45:06+00:00,1470404417170116610,A factory worker trapped under 5 feet of debri...,CNN
38,2021-12-13 14:30:08+00:00,1470400652534853638,There are many tips for beating the afternoon ...,CNN
39,2021-12-13 14:15:07+00:00,1470396869922766851,US businesses to lose a collective 3.1 million...,CNN
40,2021-12-13 14:01:02+00:00,1470393327992324105,Time magazine has named Elon Musk -- CEO of Te...,CNN
41,2021-12-13 13:45:05+00:00,1470389315326943233,Meadows said National Guard would be ready to ...,CNN
42,2021-12-13 13:38:02+00:00,1470387538200346624,"Since the 19th century, native oyster populati...",CNN
43,2021-12-13 13:30:11+00:00,1470385563207454722,Vice President Kamala Harris will announce a n...,CNN
44,2021-12-13 13:15:07+00:00,1470381771057418251,"Before Sunday, Tom Brady had almost every all-...",CNN
45,2021-12-13 13:01:02+00:00,1470378226035867655,"Each week, Shirley Raines and her team of volu...",CNN
46,2021-12-13 12:45:04+00:00,1470374208127516673,Peloton has released a new ad in response to t...,CNN
47,2021-12-13 12:31:03+00:00,1470370681602859017,One of the Louisville detectives who fatally s...,CNN
48,2021-12-13 12:15:03+00:00,1470366654668365824,Gigantic superyachts have long been nicknamed ...,CNN
49,2021-12-13 12:00:10+00:00,1470362912028078086,"From Lisa Ling to the West Wing, A.C. to D.C.,...",CNN
50,2021-12-13 11:45:06+00:00,1470359119274160131,Michigan high school shooting suspect Ethan Cr...,CNN

## Data Scrapping using snscrap

In [6]:
class DataScraper:
    
    def __init__(self, channels, count=700, destdir="."):
        self.channels = channels
        self.destdir = destdir
        self.count = count
        dt = str(datetime.today()).replace('-', '.')
        dt = dt.replace(":", ".")
        self.filename = f'{dt}_{"_".join(channels)}.csv'
    
    def scrap(self, channel):
        tweets_list1 = []
        
        for i,tweet in enumerate(sntwitter.TwitterSearchScraper(f'from:{channel}').get_items()): #declare a username 
            if i>self.count: #number of tweets you want to scrape
                break
            tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.lang]) #declare the attributes to be returned

        # Creating a dataframe from the tweets list above 
        return pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username', 'lang'])
    
    def write(self, df):
        file = f'{self.destdir}/{self.filename}'
        print(f"writing data file {file}")
        mode="w"
        if os.path.isfile(file) :
            mode = 'a'
        df.to_csv(f"{self.destdir}/{self.filename}", index=False, mode = mode)
        pass
    
    def start(self):
        for channel in self.channels:
            print(f"scrapping data from:{channel}")
            tweets = self.scrap(channel)
            self.write(tweets)
        pass

In [4]:
class DataScraper:
    
    def __init__(self, channels, start_date, end_date, count=700, destdir="."):
        self.channels = channels
        self.destdir = destdir
        self.count = count
        dt = str(datetime.today()).replace('-', '.')
        dt = dt.replace(":", ".")
        self.filename = f'{dt}_{"_".join(channels)}.csv'
    
    def scrap(self, channel):
        tweets_list1 = []
        
        for i,tweet in enumerate(sntwitter.TwitterSearchScraper(f'from:{channel} since:{start_date} until:{end_date}').get_items()):
            if i>self.count: #number of tweets you want to scrape
                break
            tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.lang]) #declare the attributes to be returned

        # Creating a dataframe from the tweets list above 
        return pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username', 'lang'])
    
    def write(self, df):
        file = f'{self.destdir}/{self.filename}'
        print(f"writing data file {file}")
        mode="w"
        if os.path.isfile(file) :
            mode = 'a'
        df.to_csv(f"{self.destdir}/{self.filename}", index=False, mode = mode)
        pass
    
    def start(self):
        for channel in self.channels:
            print(f"scrapping data from:{channel}")
            tweets = self.scrap(channel)
            self.write(tweets)
        pass

In [5]:
ds = DataScraper(['CNN', 'FoxNews', 'BBCWorld'],'2021-12-13','2021-12-14', 50)
ds.start()

scrapping data from:CNN
writing data file ./2021.12.15 12.08.15.544012_CNN_FoxNews_BBCWorld.csv
scrapping data from:FoxNews
writing data file ./2021.12.15 12.08.15.544012_CNN_FoxNews_BBCWorld.csv
scrapping data from:BBCWorld
writing data file ./2021.12.15 12.08.15.544012_CNN_FoxNews_BBCWorld.csv

In [7]:
#ds = DataScraper(['CNN', 'FoxNews', 'BBCWorld'],500)
#ds.start()

In [2]:
data = pd.read_csv("2021.12.15 00.17.34.712810_CNN_FoxNews_BBCWorld.csv")
data
type(data)

pandas.core.frame.DataFrame

In [4]:
class DataPreProcessor:
    def __init__(self, data):
        self.data = data
        self.stopwords = stopwords.words('english')
    
    def cleaning(self):
        # remove hyperlinks
        self.data["Text_cleaned"] = self.data["Text"].apply(lambda x: re.sub(r"http\S+", " ", x))
        # remove hashtags
        self.data["Text_cleaned"] = self.data["Text_cleaned"].apply(lambda x: re.sub(r"\#\S+", " ", x))
        # remove user tag
        self.data["Text_cleaned"] =self.data["Text_cleaned"].apply(lambda x: re.sub(r"\@\S+", " ", x))
        # remove tweet handler
        self.data["Text_cleaned"] = self.data["Text_cleaned"].apply(lambda x: re.sub(r"\$\S+", " ", x))
        # remove ponctuation
        self.data["Text_cleaned"] = self.data["Text_cleaned"].apply(lambda x: re.sub(r"[^A-z\t]", " ", x))
        # lowercase text
        self.data["Text_cleaned"] = self.data["Text_cleaned"].apply(lambda x: x.lower())

        # tokenize text
        self.data["Text_cleaned"] = self.data["Text_cleaned"].apply(lambda x: nltk.word_tokenize(x))
        # remove stop words
        self.data["Text_cleaned"] = self.data["Text_cleaned"].apply(lambda x: [w for w in x if not w in self.stopwords])
        # remove stop words
        self.data["Text_cleaned"] = self.data["Text_cleaned"].apply(lambda x: [w for w in x if len(w) > 2])
        # lemmatizing text
        lemmatizer = WordNetLemmatizer()
        self.data["Text_cleaned"] = self.data["Text_cleaned"].apply(
            lambda x: [lemmatizer.lemmatize(w, self.wordnet_pos(w)) for w in x])
        return self.data
    
    def wordnet_pos(self, word):
        tag = nltk.pos_tag([word])[0][1][0].upper()
        tag_dict = {'J': wordnet.ADJ,
                    'N': wordnet.NOUN,
                    'V': wordnet.VERB,
                    'R': wordnet.ADV}
        return tag_dict.get(tag, wordnet.NOUN)

    def start(self):
        self.cleaning()
        
        return self.data
        pass
datapreprocessor = DataPreProcessor(data)
preprocessed_data = datapreprocessor.start()

In [6]:
datapreprocessor = DataPreProcessor(data)
preprocessed_data = datapreprocessor.start()

In [7]:
preprocessed_data.head()

,Datetime,Tweet Id,Text,Username,lang,Text_cleaned
0,2021-12-13 23:55:10+00:00,1470542846109392898,"Former Brooklyn Center, Minnesota, police offi...",CNN,en,"[former, brooklyn, center, minnesota, police, ..."
1,2021-12-13 23:44:12+00:00,1470540084873244672,The Omicron variant of coronavirus is spreadin...,CNN,en,"[omicron, variant, coronavirus, spread, quickl..."
2,2021-12-13 23:33:05+00:00,1470537290283982857,Hundreds of millions of devices around the wor...,CNN,en,"[hundred, million, device, around, world, coul..."
3,2021-12-13 23:22:50+00:00,1470534710669590529,Defense Secretary Lloyd Austin has decided tha...,CNN,en,"[defense, secretary, lloyd, austin, decide, mi..."
4,2021-12-13 23:12:11+00:00,1470532029209104386,"After all these years, Bing Crosby still spurs...",CNN,en,"[year, bing, crosby, still, spur, dream, white..."

In [8]:
vectorizer = TfidfVectorizer(max_features=300)
corpus = preprocessed_data["Text_cleaned"].apply(lambda x: " ".join(x))
corpus = corpus.tolist()
X = vectorizer.fit_transform(corpus).todense()

In [9]:
df = pd.DataFrame(X, columns=vectorizer.get_feature_names())
df.tail()

C:\Users\AKH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abuse,administration,age,almost,amazon,american,announce,another,ape,appear,...,watch,way,weather,wednesday,week,west,white,woman,world,year
150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
kmeans_model = KMeans(400)
kmeans_model.fit(X[0:500])
predictions = kmeans_model.predict(X[0:500])
silhouette_score(X[0:500], predictions)

C:\Users\AKH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:585: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\Users\AKH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:585: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\Users\AKH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:585: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

0.306624940867878

In [10]:
vectorizer = CountVectorizer(max_features=300)
corpus = preprocessed_data["Text_cleaned"].apply(lambda x: " ".join(x))
corpus = corpus.tolist()
X = vectorizer.fit_transform(corpus).todense()
lda_model = LatentDirichletAllocation(15)
lda_model.fit(X[0:500])
predictions = lda_model.transform(X[0])

C:\Users\AKH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:585: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\Users\AKH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:585: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

In [11]:
lda_model.score(X[0])

C:\Users\AKH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:585: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

-1284.916244566347

<h3 style="color:red">Lemmatization doesn't working</h3>

## TODOS :
- lemmetization
- stemmization
- create text representation
- train models
- evaluation
- label data
- create topic tracking process
- end